@import "tailwindcss";

@theme {
  --color-primary: hsl(186, 42%, 18%);
  --color-accent: hsl(7, 70%, 67%);
  --color-bg: hsl(42, 39%, 94%);
  --color-text-primary: hsl(0, 0%, 17%);
  --color-text-secondary: hsl(0, 0%, 55%);
  
  --color-input-border: hsl(0, 0%, 55%);

  --color-card-top-color: hsla(0, 0%, 100%, 1);
  --color-card-bottom-color: hsla(43, 37%, 96%, 1);
  --color-card-shadow: hsl(0, 0%, 0%);

  --color-text-muted-bg: rgb(186, 175, 154);

  --color-nav-border: hsl(186, 42%, 28%);
  --color-alert: hsla(17, 100%, 71%, 1);

  --font-cuprum: "Cuprum";
}

body {
  @apply bg-bg;
}

@layer base {
  .card-bg {
    @apply bg-linear-to-t from-card-bottom-color to-card-top-color;
  }
  .card-shadow {
    @apply shadow-lg;
  }
}

@layer components {
  .base-container {
    @apply w-full max-w-7xl;
  }

  .base-card {
    @apply text-text-primary shadow-lg bg-linear-to-t from-card-bottom-color to-card-top-color rounded-xl py-3 px-6;
  }

  .base-section {
    @apply py-15 px-4;
  }

  .index-card-link {
    @apply text-center text-2xl transition-transform hover:scale-102;
  }

  .nav-btn {
    @apply flex items-center justify-center w-full text-center text-2xl p-3 border-t-0 border-nav-border sm:border-t;
  }
  .btn {
    @apply text-3xl px-10 py-2 rounded-xl bg-accent text-white hover:cursor-pointer border-2 border-accent text-center;
  }
  .secondary-btn{
    @apply text-3xl px-10 py-2 rounded-xl hover:cursor-pointer border-2 border-accent text-accent transition-colors hover:text-bg hover:bg-accent;
  }
  .section-title {
    @apply text-4xl text-text-primary uppercase;
  }
}
