name: Pylint

on:
  push:
    branches:
      - main
      - backend-1
      - backend-authorization-dogs-requests-tags

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
    - name: Install dependencies
      run: |
        cd backend
        pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Pylint
      run: |
        cd backend
        pylint src/
    - name: Set up Docker
      uses: docker/setup-docker-action@v4
    - name: Set up Docker Compose
      uses: docker/setup-compose-action@v1
    - name: Build images
      run: docker compose build
